@import "tailwindcss";

:root {
  --foreground: #171717;
  --primary: #2f8f2f;
  --secondary: #a7e635;
  --accent: #ff8e1c;
  --neutral: #f7faf5;
  --dark-text: #1f2937;
  --light-text: #4b5563;
}

/* 
Primary = navbar, main sections, logo-related UI
Secondary = cards, badges, hover effect
Accent = button, “Adopt Now”, highlight, notification
Neutral = page background
*/

@theme inline {
  --color-neutral: var(--neutral);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-accent: var(--accent);
  --color-dark-text: var(--dark-text);
  --color-light-text: var(--light-text);
  --font-poppins: var(--font-poppins);
  --font-nunito: var(--font-nunito);
}

body {
  background-color: var(--color-neutral);
  color: var(--color-foreground);
  font-family: var(--font-poppins), sans-serif;
}
